   table {
     border-collapse: collapse;
   }

   th, td {
     padding: 0.25rem;
     text-align: left;
     border: 1px solid #ccc;
   }

     th {
       text-align: center;
     }

     tbody td:nth-child(2) {
       text-align: right;
     }

   tbody tr:nth-child(odd) {
     background: #eee;
   }
