body {
  font-family:  Montserrat, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
table {
     border-collapse: collapse;
     width: 90%;
     margin-left: 5%;
   }

   th[scope|="col"] {width: 20%;}

   th, td {
     padding: 8px;
     margin: 8px;
     text-align: left;
     border: 1px solid #ccc;
   }

     th {
       text-align: center;
     }

     tbody td:nth-child(2) {
       text-align: right;
     }

   tbody tr:nth-child(odd) {
     background: #eee;
   }

.typeicon {height: 2em; padding-left: 1em;}

 .details-container {
  position: relative;
  display: inline-block;
  margin: 8px;
}


.details-bubble {
  filter: drop-shadow(16px 16px 10px black);
  display: inline-block;
  
  position: absolute;
  left: 100%;
  top: -1em;
  width: 20em;
  padding: 0.5rem;
  background: cornsilk;
  color: black;
  border-color: black;
  border-style: solid;
  margin-left: 8px;
  font-family: sans-serif;
  font-weight: normal;
  text-align: left;
}

button  {
  float: right;
}


h3 {margin-top: 0;}
 